body {
  padding-top: 50px;
}
ul.nav, .jumbotron h1{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul.nav{
	font-size:13px;
}
footer{
	background-color: #537F9B ; 
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
}
footer span{
	color:white;
}
.navbar-brand span{
	color:white;
    font-size: 24px;
    letter-spacing: -2px;
}
.navbar-brand strong{
	color: #537F9B;
}
#welcome h2{
    font-size: 70px;
    color: white;
    text-shadow: 0 0 7px #537F9B;
}
#experience, #education{
	background-color: #f5f5f5;
}
#projects{
	background-color: #094867;
    opacity: .9;
	color: white;
}
#projects h1, #projects h2, #projects h3{
	color: #eeeeee;
}
h2{
    text-shadow: 3px 3px #EAECEE;
}
#projects h2{
    text-shadow: 3px 3px #808B96;
}
#projects h3{
    background-color: black;
    margin: auto;
    width: 350px;
    padding: 5px 0;
}
#projects a{
    color: #ef4565;
}
#projects p.bold{
    font-weight: 500;
}
#university img{
	max-width: 250px;
}
#back-to-top{
	bottom:20px;
	right:20px;
	position: absolute;
}
#back-to-top a{
	color:white;
}
.jumbotron{
	text-align: center;
	background-image: url('../images/landing.jpg');
	color: white;
	background-size: 103%;
	/*background-position-y: -500px;*/
	background-repeat: no-repeat;
	box-shadow:inset 0 0 0 150vw rgba(0,0,0,0.5);
}
.jumbotron h1{
	margin-top:0;
	margin-bottom:50px;
	font-weight:200;
}
.jumbotron img{
	max-width:100%;
}
.jumbotron p{
	margin-bottom:30px;
	font-weight:200;
	padding: 0 50px;
}
.modal-content iframe{
	margin-top:10px; 
	margin-bottom:20px;
}
.modal-content img{
	/*height:600px;
	 width:450px;*/
}
.modal-content button.close{
	    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    font-size: 28px;
    width: 40px;
    opacity: 1;
}
.modal-dialog{
	position:absolute;
	left:50%;
	margin-left: -300px;
	top:50%;
	margin-top:-334px ;
}
.btn-lg{
	font-size: 22px;
	background-image: -webkit-gradient(linear, right center, left center, from(#337ab7), to(#2C3E50)) ;
	background-image: -moz-linear-gradient(linear, right center, left center, from(#337ab7), to(#2C3E50)) ;
	border: none;

}
.row #allfiled{
	padding-top:30px;
}

.container h2 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.homepage span{
    color: #ef4565
}

.homepage{
	text-align: center;
	padding-top:30px;
	padding-bottom:30px;
}
.homepage h2, .homepage h3{
    color: #537F9B;
    font-family: 'Arvo', courier, serif;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.homepage h2{
	font-size: 40px;
}
.homepage h3{
	font-size: 26px;
}
.homepage p{
	font-weight: 300;
	font-size: 21px;
	margin-top:30px;
}
.homepage a{
	color: #537F9B;
}
.homepage a:hover{
		color: #537F9B;
		text-decoration: none;
		opacity: .8;
}
.homepage hr{
	border-color: #537F9B;
	width:160px;
	margin-top:15px;
}

col-md-12 p{
    text-align: center;
}

.fa-envelope-o:before {
    margin-left: 5px;
}
.img-drop-shadow{
    filter: drop-shadow(2px 2px 2px black);
}
.transform-5deg{
    transform: skewY(5deg)
}


/* RESPONSIVE STYLING */

@media (max-width: 1199px) { 
	.jumbotron h1 {
		font-size:56px:;
		margin-bottom:30px;
	}
}

@media (max-width: 991px) { 
	.jumbotron h1{
		font-size:44px;
	}
	.jumbotron p {
		padding: 0 10px;

	}
	#experience .col-md-4{
		padding-top:20px;
		padding-bottom:20px;
	}
}

@media (max-width: 767px) { 
    .jumbotron {
        background-size:600px;
    }
	.jumbotron h1 {
		font-size:24px;
	}
	.jumbotron p{
		padding:0;
		font-size: 16px;
	}
	.btn-lg{
		font-size: 18px;
	}
	.homepage p{
		font-size: 18px;
	}
	footer img{
		width:80%;
	}
}

